@page
@model AddModel
@{
    ViewData["Title"] = "Add Product";   
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script>
<script>
    // var SKUids = [];
    $(document).ready(function(){
      // fetch("addProduct.php")
      //   .then((response)=>{
      //     if(response.ok) return response.json();
      //   })
      //   .then((data)=>{
      //     SKUids = data;
      //   });
      $("#productType").change(function(){
        $("fieldset.forms:visible").each(function(){
          //Hide any visible forms and remove the required attribute from the input controls as well as the name attribute so it won't be send with the form
          $(this).attr("hidden","hidden");
          $(this).find("input").removeAttr("required");
          $(this).find("input").removeAttr("name");
        });
        switch ($(this).val()) {
          case "DVD":
            $("#dvd-form").removeAttr("hidden");
            $("#dvd-form").find("input").attr("required","required");
            $("#size").attr("name","size");
            break;
          case "Furniture":
            $("#furniture-form").removeAttr("hidden");
            $("#furniture-form").find("input").attr("required","required");
            $("#width").attr("name","width");
            $("#height").attr("name","height");
            $("#length").attr("name","length");
            break;
          case "Book":
            $("#book-form").removeAttr("hidden");
            $("#book-form").find("input").attr("required","required");
            $("#weight").attr("name","weight");
            break;
        }
      });
    });
</script>
<h3 style="margin-bottom: 22px">Add a new Product to the List</h3>
<form class="form" method="post">
    <fieldset class="align-items-center">
        <div class="row mb-2">
            <label for="sku" class="offset-sm-1 col-sm-1 col-form-label">SKU</label>
            <div class="col-sm-5">
                <input type="text" id="sku" name="sku" class="form-control" required>
            </div>
        </div>
        <div class="row mb-2">
            <label for="name" class="offset-sm-1 col-sm-1 col-form-label">Name</label>
            <div class="col-sm-5">
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
        </div>
        <div class="row mb-2">
            <label for="price" class="offset-sm-1 col-sm-1 col-form-label">Price</label>
            <div class="col-sm-5">
                <input type="number" min="1" id="price" name="price" class="form-control" required>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="row mb-3">
            <label for="productType" class="offset-sm-1 col-sm-2 col-form-label">Type Switcher</label>
            <div class="col-sm-4">
                <select id="productType" name="productType" class="form-control" required>
                    <option id="" value="" selected>--Please select a type of product--</option>
                    <option id="DVD" value="DVD">DVD</option>
                    <option id="Furniture" value="Furniture">Furniture</option>
                    <option id="Book" value="Book">Book</option>
                </select>
            </div>
        </div>
    </fieldset>
    <fieldset id="dvd-form" class="forms align-items-center" hidden>
        <div class="row mb-2">
            <label for="size" class="offset-sm-1 col-sm-1 col-form-label">Size (MB)</label>
            <div class="col-sm-5">
                <input type="number" min="1" id="size" class="size form-control" placeholder="Please provide size of DVD">
            </div>
        </div>
    </fieldset>
    <fieldset id="furniture-form" class="forms align-items-center" hidden>
        <div class="row mb-2">
            <label for="height" class="offset-sm-1 col-sm-2 col-form-label">Height (CM)</label>
            <div class="col-sm-5">
                <input type="number" min="1" max="999" id="height" placeholder="Please provide height of furniture" class="height form-control">
            </div>
        </div>
        <div class="row mb-2">
            <label for="width" class="offset-sm-1 col-sm-2 col-form-label">Width (CM)</label>
            <div class="col-sm-5">
                <input type="number" min="1" max="999" placeholder="Please provide width of furniture" id="width" class="width form-control">
            </div>
        </div>
        <div class="row mb-2">
            <label for="length" class="offset-sm-1 col-sm-2 col-form-label">Length (CM)</label>
            <div class="col-sm-5">
                <input type="number" min="1" max="999" id="length" placeholder="Please provide length of furniture" class="length form-control">
            </div>
        </div>
    </fieldset>
    <fieldset id="book-form" class="forms align-items-center" hidden>
        <div class="row mb-2">
            <label for="weight" class="offset-sm-1 col-sm-2 col-form-label">Weight (KG)</label>
            <div class="col-sm-5">
                <input type="number" min="1" max="999" id="weight" placeholder="Please provide weight of book" class="weight form-control">
            </div>
        </div>
    </fieldset>
    <div class="text-right">
        <input class="btn btn-primary" type="submit" value="Add Product" />
        <a class="btn btn-primary" asp-page="/Index">Cancel</a>
    </div>
</form>